
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #white;
    text-align: center;
}

.ojuju-<angiekarchfont> {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


h2 {
 font-size: 20pt;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #AC9386;
  flex: auto;
  justify-content: left;
  padding: auto;

}


h1 {
    margin-top: 0;
    margin-bottom: 50pt;
  font-size: 80pt;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #927363;
  flex: auto;
  justify-content: space-around;
}

h3 {
    margin-left: 100pt;
    margin-right: 100pt;
    margin-bottom: 50pt;
    margin-top: 50pt;
  font-size: 15pt;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #927363;
  justify-content: left;

}

h4 {
    margin-top: 40;
    margin-bottom: 50pt;
  font-size: 40pt;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #927363;
  flex: auto;
  justify-content: space-around;
}


nav {
    margin-top: 50pt;
    background-color: #white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #927363;
}

nav ul li a:hover {
    background-color: #D5C9C3;
}

/***************************************/ 


.image-container { 
width: 240px;
margin: 0;
flex-direction: row;
justify-content: flex-start;
}

.image-container {
  position: relative;
  display: inline-block; /* Ensures the container only takes up the space it needs */
}

.image-container: {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
  background-color: rgba(0, 0, 0, 0); /* Transparent black overlay */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.image-container:hover::before {
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

/***************************************/ 

body.unique-background {
  background-color: white;
}

#vg {
  width: 1000px;  
}
#vgalt{
  width: 500px;  
}


























