


#topbox {
background-color: transparent;
border-style: dotted;
border-color: rgb(102, 51, 0);
border-width: 10px;
padding: 10px 10px 10px 10px;
color: rgb(102, 51, 0);
font-size: 300%;
font-family: "helvetica-bold";
text-align: center;
}

#giraffe {
margin: vmin;
padding: 10px 10px 10px 10px;
line-height: 0;
width: 50%;
padding: 0;
font-family: "helvetica-bold";
color: rgb(102, 51, 0);
}


